<nav class="nav-bar site-menu">
  <ul>
    <li><a class="icon icon-home {{currentPage.index}}" href="/"></a></li>
    <li><a class="icon icon-search {{currentPage.search}}" href="/search"></a></li>
    <li><a class="icon icon-plus {{currentPage.create}}" href="/yourney/create"></a></li>
    <li><a class="icon icon-heart-o {{currentPage.favorite}}" href="/profile/favorite"></a></li>
    <li class="icon-profilepic"><a class="profile {{currentPage.profile}}" href="/profile" style="background: url({{currentUser.profilepic}}) no-repeat center center; background-size: cover;"></a></li>
  </ul>
</nav>