<li class="yourney-card">
  <div>
    <h3><a href="/yourney/{{this._id}}">{{this.name}}</a></h3>
    <p class="owner">Created by <a href="#" class="name-owner">{{this.owner.username}}</a></p>
    <p class="location">{{this.location}}</p>
    <p class="duration">{{this.days}} days</p>
    {{#if this.date}}
      <p class="date">Date: {{this.date}}</p>
      {{else}}
      <p class="empty">No content</p>
    {{/if}}
    <p class="snippet">{{this.snippet}}</p>
    <a href="/yourney/{{this._id}}" class="see-more">+</a>
    {{#if this.favoritedBy}}
      <form method="POST" action="/yourney/{{this.id}}/removefav">
        <button type="submit" class="icon icon-heart"></button>
      </form>
      {{else}}
      <form action="/yourney/{{this.id}}/fav" method="POST">
        <button type="submit" class="icon icon-heart-o"></button>
      </form>
    {{/if}}
    {{#if this.addedBy}}
      <form action="/yourney/{{this.id}}/remove" method="POST">
        <button type="submit" class="button add">Remove</button>
      </form>
      {{else}}
      <form action="/yourney/{{this.id}}/add" method="POST">
        <button type="submit" class="button add">Add</button>
      </form>
    {{/if}}
  </div>
</li>