<main class="container">
  <section id="yourney-details">
    <h2>{{yourney.name}}</h2>
    <div class="details-link">
      <button type="submit" class="icon icon-heart-o"></button>
      <button type="submit" class="icon icon-share"></button>
      <button type="submit" class="button add">Add</button>
    </div>
    <p class="owner">Created by <a href="#" class="name-owner">{{yourney.owner.username}}</a></p>
    <p class="location">{{this.location}}</p>
    <p class="days">{{yourney.days}} days</p>
    <p class="date">{{yourney.date}}</p>
    <p class="description">{{yourney.description}}</p>
  </section>
</main>
