<main class="container">
  <section id="yourney-details">
    <h2>{{yourney.name}}</h2>
    <div class="details-link">
      {{#if yourney.favoritedBy}}
        <form  action="/yourney/{{yourney.id}}/removefav" method="POST">
          <button type="submit" class="icon icon-heart"></button>
        </form>
        {{else}}
        <form action="/yourney/{{yourney.id}}/fav" method="POST">
          <button type="submit" class="icon icon-heart-o"></button>
        </form>
      {{/if}}
      <form method="POST" action="/yourney/{{yourney.id}}/share" >
        <button type="submit" class="icon icon-share"></button>
      </form>
      {{#if yourney.addedBy}}
        <form action="/yourney/{{yourney.id}}/remove" method="POST">
          <button type="submit" class="button add">Remove</button>
        </form>
        {{else}}
        <form action="/yourney/{{yourney.id}}/add" method="POST">
          <button type="submit" class="button add">Add</button>
        </form>
      {{/if}}
    </div>
    <p class="owner">Created by <a href="/profile/{{yourney.owner.id}}" class="name-owner">{{yourney.owner.username}}</a></p>
    <p class="location">{{this.location}}</p>
    <p class="days">{{yourney.days}} days</p>
    <p class="date">{{yourney.date}}</p>
    <p class="description">{{yourney.description}}</p>
  </section>
</main>