{{#if yourney.img}}
  <img src="{{yourney.img}}" alt="A photo of the yourney" class="photo-city-collection">
{{/if}}
<main class="container {{#if yourney.img}}city-collection{{/if}}">
  <section id="yourney-details">
    <h2>{{yourney.name}}</h2>
    <div class="details-link">
      {{#if yourney.favoritedBy}}
        <form  action="/yourney/{{yourney.id}}/removefav" method="POST" class="fav">
          <button type="submit" class="icon icon-heart"></button>
        </form>
        {{else}}
        <form action="/yourney/{{yourney.id}}/fav" method="POST" class="fav">
          <button type="submit" class="icon icon-heart-o"></button>
        </form>
      {{/if}}
      {{#if userAdded}}
        <form action="/yourney/{{yourney.id}}/remove" method="POST" class="button remove">
          <button type="submit">Remove</button>
        </form>
        {{else}}
        <form action="/yourney/{{yourney.id}}/add" method="POST" class="button add">
          <button type="submit">Add</button>
        </form>
      {{/if}}
    </div>
    <p class="owner">Created by <a href="/profile/{{yourney.owner.id}}" class="name-owner">{{yourney.owner.username}}</a></p>
    <p class="location">{{yourney.location}}</p>
    <p class="days">{{yourney.days}} days</p>
    <p class="date">{{yourney.date}}</p>
    <p class="description">{{yourney.description}}</p>
    
  </section>
  {{#if userOwner}}
  <div>
    <div class="edit-profile button edit">
      <a href="/yourney/{{yourney.id}}/edit">Edit</a>
    </div>
    <form action="/yourney/{{yourney.id}}/delete" method="POST" class="button delete">
      <button type="submit">Delete</button>
    </form>
  </div>
  {{else}}
  {{/if}}
</main>