<main class="container">
  <section id="yourney-details">
    <h2>{{yourney.name}}</h2>
    <div class="details-link">
      <form method="POST" action="/yourney/{{yourney.id}}/fav" >
        <button type="submit" class="icon icon-heart-o"></button>
      </form>
      <form method="POST" action="/yourney/{{yourney.id}}/share" >
        <button type="submit" class="icon icon-share"></button>
      </form>
      {{#if this.addedBy}}
        <button type="submit" class="button add">Added</button>
        {{else}}
        <button type="submit" class="button add">Add</button>
      {{/if}}
    </div>
    <p class="owner">Created by <a href="#" class="name-owner">{{yourney.owner.username}}</a></p>
    <p class="location">{{this.location}}</p>
    <p class="days">{{yourney.days}} days</p>
    <p class="date">{{yourney.date}}</p>
    <p class="description">{{yourney.description}}</p>
  </section>
</main>